/* importar fuentes desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* Asi se declaran las variables en caso de que tengamos algo que vayamos a utilizar varias veces tales como algunas fuentes o 
colores */
:root
{
    --color-fuente-principal : #FCE8D5;
    --color-fuente-secundario:  #484E5E;
}
html
{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    
}
*
{
    margin: 0;
    padding: 0;
}

/***************CONFIGURACION FLEX BOX*********************/
.flex
{
    justify-content: center;
    display: flex;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    
    
}
.flex-columna
{
    flex-direction: column;
    align-items: center;
    background-color: seashell;
    text-align: left;
}

/*********************************************************/
hr
{
    
    width: 100%;
    height: 2px;
    background-color: var(--color-fuente-principal);
    border-style: solid;
}
.area-personal
{
    /* width: 20%; */
    width: 35%;
    background-color:var(--color-fuente-secundario);
    color: var(--color-fuente-principal);
    padding: 1rem 3.5rem;
    
    
}
.area-profesional
{
    /* width: 30%; */
    width: 75%;
    /* rem es una unidad de medida relativa que se adapta a partir del font-size que se espesifica en el HTML */
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-bottom: 3.5rem;
    padding-right: 3.5rem;
    color: var(--color-fuente-secundario);
    
}

.estilo-list
{
    /* aqui lo que hago es que le quito el estilo a la lista, es decir que ahora la lista aparecesrá sin identificador */
    list-style: none;
}

/* Aqui lo que hice fue poner la imagen dentro de un div que va a servir como el marco y despues de eso configure la imagen 
para que tome el tamaño del div y despues la ajusto para que se centre con el cover */
.contenedor-imagen
{
    width: 15rem;
    height: 15rem;
    margin-bottom: .8rem;
}
.foto
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: top;
    border-radius: 50%;
    border: .2rem solid black;
}

article > h3
{
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background-color:rgb(255, 228, 169) ;
    margin-inline-start: 1px;
    padding-left: 1rem;
}
section > h1
{
    font-size: 30px;
}

ul,li
{
    
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.subtitulos
{
    font-size: 13px;
    min-width: 100%;
    margin-top: .8rem;
}
.fechas
{
    margin-bottom: .8rem;
    font-size: 12px;
}
.titulos
{
    min-width: 100%;
    margin-top: .8rem;
    margin-bottom: .8rem;
}


/* Esto en vez de ser una clase es un ID, los ID son unicos */
#nombre
{
    text-align: center;
        
}
#linkwhatsapp
{
    text-decoration: none;
    color:aqua ;
}
#email
{
    text-decoration: none;
    color:aqua ;
}
#profesion
{
    margin-top: .8rem;
    margin-bottom: .8rem;
}